.jumbotron
{
    /* background-color: #00C2FF; */
    background-color: #346EAA;
    color: white;
} */

.table.table-bordered > thead > tr > th{
    border:2px solid black;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d9d9d9;
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #cccccc;
  }

.asterisk {
    color: red;
}