<%= link_to("<< Back to List", members_path, :class => 'back-link') %>

<div class="members show">
	<h2>Show Member</h2>
	
	<table summary="Member detail view">
		<tr>
			<th>First Name</th>
			<td><%= @member.firstName %></td>
		</tr>
		<tr>
			<th>Last Name</th>
			<td><%= @member.lastName %></td>
		</tr>
		<tr>
			<th>Class Year</th>
			<td><%= @member.classYear.year %></td>
		</tr>
	</table>

</div>